* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    /* color: #fff; */
}

html,
body {
    height: 100%;
    width: 100%;
}

button{
  padding:20px;
  background-color: white;
  color: black;
  margin: 10px;
}

.container {
  display: flex;
  gap: 20px;
}