@import url('https://fonts.googleapis.com/css?family=Gilda+Display');

html {
  background-color: black;
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  width: 100%;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.wrap {
  top: 30%;
  left: 25%;
  height: 200px;
  margin-top: -100px;
  position: absolute;
}

code {
  color: white;
}

span.blue {
  color: #48beef;
}

span.comment {
  color: #7f8c8d;
}

span.orange {
  color: #f39c12;
}

span.green {
  color: #33cc33;
}